/*
 * BOOTSTRAP RESET CLASSES
 *
 * */

.alert,
.form-control {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
}
/* alert-danger custom style*/
.alert-danger {
	color: #911;
    background-color: #fcdede;
    border-top:2px solid transparent;
    border-bottom:1px solid #d2b2b2;
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-top:2px solid transparent;
    border-bottom:1px solid #c5e0ba;
}


.fade {
   opacity: 0;
   -webkit-transition: opacity 1.25s linear;
      -moz-transition: opacity 1.25s linear;
       -ms-transition: opacity 1.25s linear;
        -o-transition: opacity 1.25s linear;
           transition: opacity 1.25s linear;
 }
 .form-box {
    width: 100%;
}

.atag-clear,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none !important;
}

.alert-danger,
.alert-success {
  position: absolute;
  width: 100%;
  z-index: 3;
}
