
/*
 * HEADER PAGE
 */

 header.main {
	width: 100%;
    background-color: #fff;
    height: 71px;
    border-bottom:1px solid #adb6b5;
}

.cta-pull-right {
    border-left: 0 none !important;
    color: #fff !important;
    float: right !important;
    height: auto;
    padding: 0px !important;/*reset*/
    margin-top: 12px;
    text-align: center;
    display: inline-block;
}

.cust-green {
    background-color: #8dc73c !important;
}
.cust-blue {
    background-color: #085dad !important;
}

.cust-blue a,
.cust-green a {
    color: #fff !important;
    padding: 15px 15px 11px 15px !important;
}

.cust-line {
    border-right: 1px solid #adb6b5;
}

header.main .mcont .logo-wrap,
header.main .mcont .menu-wrap {
    float: left;
}
header.main a {
    color: #fff;
}
header.main .mcont .menu-wrap ul .cta-pull-right.cust-green a:hover {
    transition: all 0.3s ease 0s;
    background-color: #abe25d;
    background-image: none;
}
header.main .mcont .menu-wrap ul .cta-pull-right.cust-blue a:hover {
    transition: all 0.3s ease 0s;
    background-color: #2a7cc9;
    background-image: none;
}


/*
 * HEADER menu-wrap
 */
header.main .mcont .menu-wrap {
    width: 64%;
    background-color: #fff;
    position: relative;
}
header.main .mcont .menu-wrap ul {
    height: 100%;
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
}
header.main .mcont .menu-wrap ul li {
    float: left;
    background-color: #fff;
    display: inline-block;  
    border-left: 1px solid #adb6b5;
}

header.main .mcont .menu-wrap ul li a {
    display: inline-block;  
    padding: 25px 20px;
    /*color: #adb6b5;  */
    color: #777;  
}
header.main .mcont .menu-wrap ul li a:hover {
    transition: all 0.3s ease 0s;
    color: #777;
    background-color: #e9e9e9;
    /*background: transparent url(../img/diagonal-noise.png);*/
    /*background-repeat: repeat-x;*/
}

/*
 * HEADER logo-wrap
 */
header.main .mcont .logo-wrap {
    width: 31%;
    background-color: #085dad;
    background-color: transparent;
}
header.main .mcont .logo-wrap .sub-title span {
    display: block;
    font-family: amblelight_condensed, sans-serif;
    font-size: 16px;
    text-align: center;
}
header.main .mcont .logo-wrap a {
    display: block;
    max-width: 170px;
    margin-top: 15px;
}
header.main .mcont .logo-wrap a img {
    max-width: 100%;
    height: auto;
    display: block;
}


