.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

/*
 * RESET CLASS
 */

* {
    box-sizing: border-box
}
a,
body,
div,
footer,
h1,
h2,
header,
html,
label,
nav,
p,
span {
    margin: 0;
    padding: 0;
    border: 0;
    /*font: inherit;*/
    vertical-align: baseline
}

ul,
ol {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
    position: relative
}

div {
    position: relative
}

a {
    color: #000;
    outline: 0;
    text-decoration: none
}

/*
* PAGES SKELETON
**/
div.login-wrap,
div.register-wrap,
div.payment-landing-wrap,
div.waiting-approval,
div.no-record {
    margin: 50px auto;
    padding: 40px 40px 30px;
    width: 100%;
    background-color: #fff;
    /*border: 1px solid #adb6b5;*/
    /*background-image: -webkit-linear-gradient(320deg, #fff 0%, #E6E6E6 100%);*/
    /*background-image: -moz-linear-gradient(320deg, #fff 0%, #E6E6E6 100%);*/
    /*background-image: linear-gradient(130deg, #fff 0%, #E6E6E6 100%);*/
    /*box-shadow: 0px 4px 10px 0px rgba(8, 13, 18, 0.3);*/
}


/*
* GLOBAL INPUT BUTTONS
**/
input[class='btn-submit'] {
    color: white;
    background-color: #8cc739;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    height: auto;
    width: 100%;
    padding: 12px 0;
    margin: 5px auto;
    margin-bottom: 0;
    outline: 0 none;
    border: transparent;
    cursor: pointer;
}
input[class='btn-submit']:hover {
    background-color: #78b51e;
    transition: all 0.3s ease 0s;
}
a.btn-back {
    display: block;
    color: #fff;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    height: auto;
    width: 100%;
    padding: 15px;
    margin: 5px auto;
    margin-bottom: 0;
    outline: 0 none;
    border: transparent;
}

a.btn-back:hover {
    background-color: #aaa;
    transition: all 0.3s ease 0s;
}

a.btn-default {
    display: inline-block;
    color: #fff;
    font-size: 14.08px;
    text-align: center;
    height: auto;
    padding: 15px 15px 11px 15px;
    margin-top: 15px;
    outline: 0 none;
    border: transparent;
    width: 150px;
}

.big-font {
    display: inline-block;
    color: #085dad;
    font-size: 30px;
    font-family: 'amblebold';
}

.label-green {
    color: #8cc739 !important;
}

.label-blue {
    color: #085dad !important;
}

.label-red {
    color: #db0000 !important;
}

.label-bold {
    font-family: 'amblebold';
}

.btn-prim {
    background-color: #8dc73c !important;
}
.btn-prim:hover,
.btn-prim:active,
.btn-prim:focus {
    background-color: #abe25d !important;
    transition: all 0.3s ease 0s;
    color: #fff !important;
}

.btn-alert {
    background-color: #db0000 !important;
}

.btn-alert:hover,
.btn-alert:active,
.btn-alert:focus {
    background-color: #fe2020 !important;
    transition: all 0.3s ease 0s;
    color: #fff !important;
}

a.btn-default,
a.btn-back,
input[class='btn-submit'] {
    font-family: 'ambleregular';
}

label {
    font-family: 'amblelight_condensed';
    font-weight: normal;  
}
/*amblelight_condensed*/

.line-gap {
    width: 100%;
    margin: 30px 0;
    height: 1px;
    background-color: #ccc;
}

div.mcont {
    padding: 0 15px;
    max-width: 1100px;
    width: 100%;
    margin: 0px auto;
}
.cust-margin {
    margin-top: 30px !important;
}

.force-align-left {
    text-align: left !important;
}

div.panel-title {
    text-align: center;
    font-weight: 300;
    margin: 0 auto 0px;    
    line-height: 25px;
    text-transform: none;
    letter-spacing: 0;
}
    /* TITLE */
    div.panel-title .main-page,
    div.panel-title .description-page {
        float: left;
    }

    div.panel-title .page-solo {
        font-family: 'ambleregular';
        font-size: 18px;
    }

    div.panel-title .main-page {
        width: 35%;
        text-align: left;
    }
    
    div.panel-title .main-page span {
        font-size: 30px;
        color: #085dad;
        font-family: 'amblelight_condensed';
        display: inline-block;
        margin-top: 0px;
    }

        /* PER PAGE FONT ADJUSTMENT */
        div.panel-title .main-page span.add-buycode {
            font-size: 23px;
        }

    /* DESCRIPTION */
    div.panel-title .description-page {
        width: 65%;
        font-size: 13px;
        line-height: 18px;
        text-align: left;
        font-family: 'amblelight';
        padding: 0 10px;
        color: #666;
    }

div.panel-body {
    padding-bottom: 0px;
    width: 100%;
}

div.panel-body .right-wrap,
div.panel-body .left-wrap {
    float: left;
}

div.panel-body .left-wrap {
    width: 35%;
}

div.panel-body .right-wrap {
    width: 65%;
}

.btn-dragonpay {
    display: block;
    width: 100%;
}
.btn-dragonpay img {
    max-width: 100%;
    height: auto;
}

.register-wrap input.form-control,
.login-wrap input.form-control,
.payment-landing-wrap input.form-control {
    background: #fcfcfc;
    border-bottom: 2px solid #adb6b5;
    border-left: 1px solid #adb6b5;
    border-right: 1px solid #adb6b5;
    border-top: 1px solid #adb6b5;
    margin: 5px auto;
    width: 100%;
    display: block;
    
    transition: opacity 0.4s;
    text-align: left;
    height: auto;
    color: #565656;
    background-color: #fff;
    outline: 0 none;

    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
}

.register-wrap input.form-control:focus,
.login-wrap input.form-control:focus,
.payment-landing-wrap input.form-control:focus {
    transition: all 0.3s ease 0s;
    border-bottom: 2px solid #8cc739;
    outline: 0 none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);*/
    /*box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);*/
}

.marker-line {
    position: absolute;
    height: 2px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #ccc;
}
    .marker-line .gray {
        background-color: #ccc;
        width: 33.33%;
        height: 100%;
        float: left;
        display: block;
    }

    .marker-line .blue {
        background-color: #085dad;
        width: 33.33%;
        float: left;
        height: 100%;
        display: block;
    }

    .marker-line .green {
        background-color: #8cc739;
        width: 33.33%;
        float: left;
        height: 100%;
        display: block;
    }