/*
 * CLEARFIX CLASS
OPEN SOURCE CPANEL - http://www.zpanelcp.com/support/documentation/
test001@yahoo.com
rootroot

font-family - amble, sans-serif.
calibri

http://www.fontsquirrel.com/fonts/amble

color combination
http://www.colorcombos.com/color-schemes/137/ColorCombo137.html

BLUE  - #085dad
GREEN - #8cc739
GRAY  - #adb6b5, to GREEN (8cc739)
RED   - #db0000
 */

/* 
 * MAIN CSS
 * color: #565656; GRAY1
 * color: #ccc;    GRAY2
 * border-color: #8cc739 to #adb6b5;
 */
body,
html {
    height: 100%;
    background: rgb(215,223,229); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(215,223,229,1) 0%, rgba(80,180,184,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(215,223,229,1)), color-stop(100%,rgba(80,180,184,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(215,223,229,1) 0%,rgba(80,180,184,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(215,223,229,1) 0%,rgba(80,180,184,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(215,223,229,1) 0%,rgba(80,180,184,1) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(215,223,229,1) 0%,rgba(80,180,184,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7dfe5', endColorstr='#50b4b8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background: transparent;
}

html,
body,
section {
    font-size: 14.08px;
	background-color: #e9e9e9; /*apple BG: fafafa*/
    font-family: 'ambleregular';
}

html,
div,
label,
p,
span,
a {
    color: #777;
    font-size: 14.08px;
}

.no-btm {
	margin-bottom: 0;
}
.align-left {
    text-align: left !important;
}

fieldset select {
    border:1px solid #adb6b5;
    height: 34px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    outline: 0 none;
}

.select-style.col-xs-3,
.select-style.col-xs-4,
.select-style.col-xs-5 {
    padding: 0px;
}

.select-style {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #fff;
    background: #fff url(../img/chevron-down.svg) no-repeat 90% 50%;
    border:1px solid #adb6b5;
}

.select-style select {
    padding: 5px 8px;
    width: 100%;
    border: 0;
    outline: 0 none;
    
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

    /**
    COMMON PAGE WIDTH
    1. 400px; - login
    2. 550px; - payment, registration, waiting, no-record
    3. 800px; 
    */

    /*
     * LOGIN PAGE
     */
    div.login-wrap {
        max-width: 400px;
    }
    .mcont.login_body {
    	padding: 50px 0;
    }
    /* form */
    .login-wrap input.form-control {
    	padding: 15px;
        font-size: 18px;
    }
    
    .login-wrap .create-new {
    	width: 100%;
    }
    .login-wrap .create-new .action-forgot, 
    .login-wrap .create-new .action-signup {
    	float: left;
    	width: 50%;
    	margin-top: 25px;
    }
    .login-wrap .create-new .action-forgot a, 
    .login-wrap .create-new .action-signup  a{
    	color: #777;
    }
    
    .login-wrap .create-new .action-forgot:hover, 
    .login-wrap .create-new .action-signup:hover{
        text-decoration: underline;
    }

    .login-wrap .create-new .action-forgot {
    	text-align: center;
    	padding-right: 10px;
    	border-right: 1px solid #adb6b5;
    } 
    .login-wrap .create-new .action-signup {
    	text-align: center;
    	padding-left: 10px;
    	border-left: 1px solid #adb6b5;
    }



    /*
    * REGISTER PAGE
    */
    div.register-wrap {
        max-width: 550px;
    }
    .register-wrap input.form-control {
        padding: 5px;
        font-size: 14.08px;
    }
    a.reg_back {
        color:#777; 
        padding:30px 0 0;
        display:block;
        font-size: 14.08px;
        text-align:right;
        font-family: amblelight_condensed, sans-serif;
        font-weight: 800;
    }



    /*
    * PAYMENT PAGE
    */
    div.payment-landing-wrap {
        max-width: 550px;
    }
    .payment-landing-wrap input.form-control {
        padding: 5px;
        font-size: 14.08px;
    }
    .bank-paymets-wrap {
        width: 100%;
    }

    /* 
    * Bank deposits 
    */
    .via-bdo,
    .via-bpi {
        max-width: 100%;
        display: block;
        margin: 0 0 15px;
    }

    .via-bdo div,
    .via-bpi div {
        font-family: 'amblelight';
        font-size: 13px;
        margin-bottom: 5px;
    }

    .via-bdo img,
    .via-bpi img {
        max-width: 100%;
        height: auto;
    }


    /*
     * WAITING APPROVAL
     */
    div.waiting-approval {
        max-width: 550px;
    }
    div.waiting-approval .status {
        margin-top: 10px;
    }

    
    /*
    * NO RECORDS 
    */
    div.no-record {
        max-width: 550px;
    }


